.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;


  &__side {
    height: 52rem;
    transition: .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;

    &--front {
      background-color: $colorWhite;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background: $gradient3;
      }

      &-2 {
        background-image: $gradient2;
      }

      &-3 {
        background-image: $gradient1;
      }
    }
  }

  &:hover &__side {
    &--front {
      transform: rotateY(-180deg);
    }

    &--back {
      transform: rotateY(0);
    }
  }

  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: $gradient3,
        url('../img/seaside.webp');
    }

    &--2 {
      background-image: $gradient2,
        url('../img/nature.webp');
    }

    &--3 {
      background-image: $gradient1,
        url('../img/city.webp');
    }
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 600;
    -webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.596);
    text-transform: uppercase;
    color: $colorWhite;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;

    &--1 {
      background-image: $gradient3;
    }

    &--2 {
      background-image: $gradient2;
    }

    &--3 {
      background-image: $gradient1;
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $colorGrey;
        }
      }
    }
  }

  &__cta {
    @include centerXY;
    width: 90%;
    text-align: center;

  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $colorWhite;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}

@media only screen and (max-width: 56.25em), only screen and(hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: $colorWhite;
    box-shadow: 0 1.5rem 4rem rgba($colorBlack, .15);

    &__side {
      height: auto;
      transition: .8s;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side {
      &--front {
        transform: rotateY(0);
      }
    }

    &__details {
      padding: 1rem 3rem;
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}