.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($colorBlack, .4);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all .2s, border-radius 0s;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;

      @include break(tablet) {
        top: 0;
        transform: scale(1.1);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include break(tablet) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;

      }
    }

    &--p3 {
      left: 15%;
      top: 12rem;

      @include break(tablet) {
        top: 1rem;
        left: 0;
        transform: scale(1.3);

      }
    }

    &:hover {
      transform: scale(1.3) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($colorBlack, .5);
      z-index: 20;
      outline: 0.8rem solid $colorBlue;
      border-radius: 5px;
    }

    @include break(tablet) {
      float: left;
      position: relative;
      width: 33.3333%;
      box-shadow: 0 1.5rem 3rem rgba($colorBlack, .2);
    }
  }

  &:hover {
    .composition {
      &__photo {
        &:not(:hover) {
          transform: scale(.95);
        }
      }
    }
  }

  
}