.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($colorWhite, .5);
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    transition: all .3s;


    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($colorBlack, .1);
      border-bottom: 3px solid $mediumGreen;

      &:invalid {
        border-bottom: 3px solid $colorSecondaryDark;
      }
    }

    &::-webkit-input-placeholder {
      color: $colorSecondaryGrey;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown {
    + .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 2.5em;
  }

  &__radio-btn {
    height: 3rem;
    width: 3rem;
    border: 4px solid $mediumGreen;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -5px;


    &::after {
      @include centerXY;
      content: '';
      display: block;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: $mediumGreen;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__radio-input {
    display: none;
    &:checked {
      ~ .form__radio-label {
        .form__radio-btn::after {
          opacity: 1;
        }
      }
    }
      
  }
}

@include break(tablet) {
  .form {
    &__radio-group {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__input {
      width: 100%;
    }

    &__radio-btn {
      &::after {
        width: 12px;
        height: 12px;
      }
    }

    &__group {
      .btn {
        width: 100%;
      }
    }
  }
}