.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($colorBlack, 0.1);
  background-color: rgba($colorWhite, 0.6);
  border-radius: 33px;
  padding: 6rem 7rem;
  font-size: 10px;
  transform: skew(12deg);



  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    position: relative;
    transform: translate(-3rem, -3rem) skewX(-12deg);
  }

  &__img {
    height: 100%;
    transform: translateY(-2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    transform: skew(-12deg);
    position: relative;

    &::before {
      content: '“';
      font-size: 75px;
      position: absolute;
      top: -65px;
      opacity: 0.4;
      left: 120px;
    }

    &::after {
      content: '”';
      font-size: 75px;
      position: absolute;
      right: 0;
      opacity: 0.4;
      bottom: -90px;
    }

    p {
      font-size: 1.3rem;
    }
  }

  &__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    color: $colorWhite;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover {
    .story {
      &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
      }

      &__img {
        transform: translateY(0) scale(1);
        filter: blur(5px) brightness(75%);
      }
    }
  }
}

@include break(tablet) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;

    &__shape {
      transform: translate(-3rem, -1rem) skewX(-12deg);
    }

    &__text {

      &::before {
        left: 100px;
        top: -55px;
      }

      &::after {
        right: -10px;
        bottom: -75px;
      }
    }
  }
}

@include break(phone) {
  .story {
    transform: skew(0);

    &__shape {
      transform: translate(-3rem) skew(0);
    }

    &__text {
      transform: skew(0);
    }
  }
}