$lightGreen: #7ed56f;
$lightGreenOpacity8: rgba(126, 213, 111, 0.8);
$mediumGreen: #55c57a;
$darkGreen: #28b485;
$darkGreenOpacity8: rgba(39, 180, 131, 0.8);
$colorGrayLight1: #f7f7f7;


$colorWhite: #fff;
$colorWhite2: #fcfcfc;
$colorBlack: #000;

$colorGrey: #eee;
$colorSecondaryGrey: #717171;
$colorTertiaryGrey:rgb(73, 72, 72);
$colorSecondaryLight: #ffb900;
$colorSecondaryDark: #ff7730;
$colorTertiaryLight: #2998ff;
$colorTertiaryDark: #5643fa;

$colorRed: #ff0000;

$colorBlue: #abdcff;
$colorBlue2: rgba(3, 150, 255, 0.8);
$colorBlue3: rgb(3, 150, 255);

$gradient: linear-gradient(to right bottom, $colorBlue, $colorBlue2);
$gradient1: linear-gradient(to right bottom, #fae786, #9da110);
$gradient2: linear-gradient(to right bottom, #eaf7d5, #3b8857); 
$gradient3: linear-gradient(to right bottom, #55e7d9, #6dc0ec);
$gradient4: linear-gradient(to right bottom, #abdcff, rgba(3, 150, 255, 0.8))