.section-about {
  background-color: $colorGrayLight1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, $lightGreenOpacity8, $darkGreenOpacity8), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $colorGrayLight1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: $gradient3
}

.book {
  background-image: url('../img/nat-10.jpg');
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($colorBlack, .15);
}